.student-search, .remarks, .report {
  text-align: center;
  margin-top: 30px;
}

#studentSearch {
  padding: 8px;
  width: 60%;
  margin: 10px;
}

textarea {
  width: 60%;
  height: 100px;
  padding: 10px;
}

button {
  background: #222;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
